html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.basket-main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 40px 20px;
  background: linear-gradient(135deg, #1b242e, #243447, #2c3e50);
  overflow-y: auto;
  border-radius: 12px;
  margin-left: 270px;
  width: calc(100% - 270px);
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font: bold;
}

.basket-total-price {
  padding: 10px;
  background: linear-gradient(135deg, #2c3e50, #4b758f, #6c8f9e) !important;
  color: white;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.basket-checkout-button-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.basket-checkout-button {
  background-color: #2f6a2f !important;
  color: white !important;
  padding: 12px 20px;
  font-size: 16px;
  box-shadow: none;
  transition: all 0.3s ease;
  width: auto;
}

  .basket-checkout-button:hover {
    background-color: white;
  }

.basket-product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.basket-product-item {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: left;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.empty-basket-message {
  text-align: center;
  color: #ffffff;
}

.basket-remove-button {
  background-color: #b30000 !important;
  color: white !important;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

  .basket-remove-button:hover {
    background-color: #990000;
    transform: scale(1.05);
  }
