body {
  background-color: #c0cad7 !important;
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: #1b242e !important;
  padding: 20px;
  width: 250px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 5;
}

.sidebar-button {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none !important;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-size: 18px;
}

.sidebar-button-primary {
  background-color: #3498db !important;
  color: white !important;
}

.sidebar-button-secondary {
  background-color: #3498db !important;
  color: white !important;
}

.sidebar-button-logout {
  background-color: #3498db !important;
  color: white !important;
}
