@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IPublishedValueFallback publishedValueFallback;
@{
  Layout = null;
  IPublishedContent root = Model.Root();
}
<!DOCTYPE HTML>
<html>
<head>
  <title>Welcome - UmbracoTV</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>

  <!-- Navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand fw-bold" href="index.html">UmbracoTV</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          @foreach (var item in root.Children().Where(x => x.IsVisible(publishedValueFallback)).ToArray())
          {
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="@item.Url()">@item.Name</a>
            </li>
          }
        </ul>
      </div>
    </nav>
  </div>
  @RenderBody()

  <!-- Footer -->
  <div class="container-fluid footer mt-5">
    <div class="container">
      <div class="row section py-4">
        <div class="col-md-4">
          <h5>Umbraco Resources</h5>
          <ul class="list-unstyled">
            <li><a href="#">Developer Documentation</a></li>
            <li><a href="#">Umbraco.TV</a></li>
            <li><a href="#">Umbraco HQ Youtube Channel</a></li>
            <li><a href="#">Training Courses</a></li>
            <li><a href="#">Umbraco Webinars</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Meet Umbraco</h5>
          <ul class="list-unstyled">
            <li><a href="#">About HQ</a></li>
            <li><a href="#">Meet the people</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Our Umbraco</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Community Teams</a></li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <h5>Follow Umbraco</h5>
          <ul class="list-unstyled">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="text-center">
          <img src="/images/arm_with_u_logo.png" class="img-fluid mt-3" alt="Arm with Umbraco Logo">
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
