@using EcommerceShop.Common.Dto
@using EcommerceShop.Umraco
@using EcommerceShop.Umraco.Refit
@using Umbraco.Cms.Web.Common.PublishedModels;
@inject IProductApi productApi;
@inject SessionStore sessionStore;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
  Layout = "master.cshtml";
}

<!DOCTYPE HTML>



<!-- Main container -->
<div class="container">

  <!-- Products -->
  <div class="row section">
    <div class="col-md-12">
      <h3>Products</h3>

      @{
        List<ProductDto> products = new ();
        var token = sessionStore.GetSessionToken();
        if (String.IsNullOrEmpty(token))
        {
          @await Html.PartialAsync("partials/Login")
        }
        else
        {
          var tmp = await productApi.GetProducts(token);
          products = tmp.ToList();
        }
      }
      @if (products.Any())
      {
        @foreach (var product in products)
        {
          @await Html.PartialAsync("partials/DisplayProduct", product)
        }
      }
    </div>
  </div>
</div>
