@using EcommerceShop.Umraco.Refit
@using Umbraco.Cms.Web.Common.PublishedModels;
@inject IProductApi productApi;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
  Layout = "master.cshtml";
}

<!DOCTYPE HTML>



<!-- Main container -->
<div class="container">
  <div class="row section">
    <div class="col-md-12">
      @Model.Value("content")
    </div>
  </div>

  <!-- Products -->
  <div class="row section">
    <div class="col-md-12">
      <h3>Products</h3>

      @{
        var products = await productApi.GetProducts();
        var selection = Umbraco.Content(Guid.Parse("aabd056f-138a-43e6-9fed-fb1b0b2666f7"))
        .ChildrenOfType("product")
        .Where(x => x.IsVisible());
      }
      <ul>
        @{
          if (selection.Any())
          {
            foreach (var item in selection)
            {
              <li>
                <a href="@item.Url()">@item.Name()</a>
              </li>
            }
          }
        }
      </ul>
    </div>
  </div>
</div>
