@using EcommerceShop.Common.Enum
@using EcommerceShop.Umraco
@using Umbraco.Cms.Web.Common.PublishedModels;
@inject LoggedInUser loggedInUser
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
  Layout = "master.cshtml";
}


@{
  var selection = Umbraco.Content(Guid.Parse("1d753f3d-896b-4a06-b512-0af536722393"))
    .ChildrenOfType("comment")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.CreateDate);
}
@if (loggedInUser.User is null)
{
  @await Html.PartialAsync("partials/Login")
}
else
{
  if (loggedInUser.User.UserType is UserTypes.Admin)
  {
    <div class="container">
      <ul>
        @foreach (var item in selection)
        {
          <li>
            <p><strong>@item.Value("username")</strong> wrote</p>
            <p>@item.Value("message")</p>
          </li>
        }
      </ul>
    </div>
  }
  else
  {
    <div class="container">
      <p>You do not have access to this page</p>
    </div>
  }
}

