@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
  Layout = "master.cshtml";
}

<!-- Grey Banner -->
<div class="container-fluid grey-bg">
  <div class="container">
    @Model.Value("body")
  </div>
</div>


